.form-perfil img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-perfil label{
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.form-perfil textarea, select{
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-perfil input:disabled{
    cursor: not-allowed;
}

.form-perfil button{
    max-width: 600px;
}

.obrigatorio{
    color: #ff0000;
    margin-left: 5px;
}

.tela_resposta {
    display: flex;
    align-items: center;
    justify-self: center;
    /*position: absolute;
    top: 43%;
    left: 10%;*/
}